<html>
    <body>
        <h1>Welcome to the Money Manager</h1>
        <p>Your username is {{.Username}}</p>
        <p>Thank you for signing up for the Money Manager. Please click the link below to verify your email.</p>
        <p>If you did not sign up for the Money Manager, please ignore this email.</p>
        <p>Thank you for using the Money Manager.</p>
        <a href="{{.VerifyLink}}">Verify Email</a>
    </body>
    <footer>
        <p>Money Manager - All rights reserved</p>
    </footer>
</html>